extends layout
block about-button
    li.active
        a(href='/about/') О нас
block content

    .container
        .row
            h1=title
            each subsection in content
                h2=subsection.title
                p=subsection.text
