extends layout
block about-button
    li.active
        a(href='/about/') О нас
block content
    .about
        .container-fluid
            .row.white#master
                .container
                    .col-xs-12
                        h2 Мастер
                    .col-xs-12.col-md-3
                        img.img-responsive(src="https://s3.amazonaws.com/wargame-art/images/homepage/alexey-usachev.jpg")
                    .col-xs-12.col-md-9
                        h3 Алексей Усачев
                        p.
                            Я в хобби с 2004 года. Первой игрой был Warhammer Fantasy и гномы, затем воины Хаоса, затем 40к и сестры битвы, затем Warmachine и Хадор, и пошло поехало. Что я больше всего ценю в нашем хобби — это процесс сборки и покраски армии, когда продумываешь все, затем работаешь над реализацией, и, наконец, выставляешь на стол против другой красивой армии. Тот самый момент, когда понимаешь, что часы, проведенные за покрасочным столом, прошли не зря.
                        p.
                            Для людей, которых не так увлекает процесс покраски, или нет на нее времени, но есть желание играть красивыми армиями, я и предлагаю свои услуги. Я крашу на заказ с 2009-го года, а с 2013-го это мой основной источник дохода. За это время я покрасил множество целых армий во всех возможных системах, но не перестаю красить и для себя, просто потому что люблю это дело. Сейчас, например, в свободное время, я работаю над армией троллей для Warmachine.
                        p.
                            Армии, которые я покрасил, не раз выигрывали призы за лучшую покраску и гарантированно хорошо смотрятся на столе.
            .row.grey
                .container
                    .row
                        .col-xs-12
                            h2 Услуги
                    .row
                        h3 Покраска миниатюр любых игровых систем, таких как:
                    .row.service-list
                        .col-xs-12.col-md-6
                            ul
                                li Warhammer 40k
                                li Warhammer Fantasy / Age of Sigmar
                                li Infinity
                                li Malifaux
                                li Warmachine and Hordes
                                li Necromunda
                                li Dropzone Commander
                                li Исторические варгеймы:
                                    ul
                                        li Flames of War
                                        li Field of Glory
                                        li DBA
                                        li l'Art de la Guerre
                                        li Black Powder
                                        li Saga
                                        li Maurice
                                        li Blucher
                                        li Muskets and Tomahawks
                                        li Pike and Shotte
                                        li ...и другие
                        .col-xs-12.col-md-6
                            ul
                                li Necromunda
                                li Mordheim
                                li Confrontation
                                li Dark Age
                                li Настольные игры:
                                    ul
                                        li Zombiecide
                                        li Gears of War
                                        li Dungeon Saga
                                        li Super Dungeon Explore
                                        li Mice and Mystics
                                        li ...и другие
                                li Blood Bowl
                                li BFG
                                li Killteam
                                li GorkaMorka
                                li Horus Heresy
                                li 9th Age
                                li ...и другие!
            .row.red#customers
                .row
                    .col-xs-12
                        h2 Отзывы клиентов
                .row
                    .container
                        .col-xs-12.col-md-8.col-md-offset-2
                            img(src="https://s3.amazonaws.com/wargame-art/images/homepage/sergei-denisov.jpg")
                            h3 Сергей Денисов
                            p.
                                Пользуюсь услугами Алексея более 2 лет. Мачтер всегда четко следут пожеланиям заказчика, имеет гибкий диапазон уровня покраски для каждой модели. Из самого удивительного - Алексей НИ РАЗУ не просрочил дату выполнения заказа вне зависимости от размера и сложности исполнения. Также, ни разу не было проблоемы связаться с ним и уточнить детали по заказу. Очень рекомнедую услуги Алексея всем, кто хочет получить качественный покрас в конкретные сроки.
                        .col-xs-12.col-md-8.col-md-offset-2
                            img(src="https://s3.amazonaws.com/wargame-art/images/homepage/victor-leonov.jpg")
                            h3 Виктор Леонов
                            p.
                                Заказываю у Алексея покраску армий с самого начала своего увлечения хобби. Чуть больше года. За это время он мне покрасил всю мою армию тау. Армия выиграла приз "best paint army" на турнире в клубе Юнион. Так же армию бладов и серых рыцарей + 3 имперских рыцарей. Все работы выполняются качественно и без задержек. Причем уровень покраски очень хорош, начиная от простой игровухи и заканчивая художкой. Сейчас Алексей начал красить мне маску арлекинов. В лучших традициях этих парней, со всеми ромбиками и рюшечками, пока всем доволен =). В Москве трудно найти художника, работы которого лучше по соотношению цена/качество/сроки выполнения.
                        .col-xs-12.col-md-8.col-md-offset-2
                            img(src="https://s3.amazonaws.com/wargame-art/images/homepage/vlad-kravchuk.jpg")
                            h3 Владислав Кравчук
                            p.
                                Меня полностью удовлетворило соотношение цена-качество. Скорость работы соответствовала моим запросам. Все замечания устранялись в полном объеме и конечный продукт меня в итоге полностью устраивал. В сумме было качественно собрано и открашено более чем на 100 очков Крикса. Все миниатюры отлично смотрятся на столе. Выдержана единая композиция. Подставки оформлены и органично смотрятся в общей тематике армии.
                                В дальнейшем планирую продолжить сотрудничество с Алексеем. На мой взгляд, на сегодняшний день, это лучший художник, предлагающий профессиональный покрас миниатюр в Москве для стола.