extends layout
block contacts-button
    li.active
        a(href='#') Контакты
block content
    .container.contacts
        h2 Контакты
        .col-xs-12.col-md-6
            .col-xs-12
                h3 Почта
                p.
                    <span class="fa fa-envelope"></span> wargameart@gmail.com
            .col-xs-12
                h3 Телефон + <span class="fa fa-telegram"></span>
                p.
                    <span class="fa fa-phone"></span> +7(906)097-08-53
            .col-xs-12
                h3 Социальные сети
            .col-xs-12
                .row
                    .col-xs-4
                        button.btn(target="_blank" href="https://vk.com/wargameart").social-btn
                             span.fa.fa-vk.fa-2x
                    .col-xs-4
                        button.btn(target="_blank" href="https://www.instagram.com/wargameart").social-btn
                            span.fa.fa-instagram.fa-2x
                    .col-xs-4
                        button.btn(target="_blank" href="https://www.youtube.com/channel/UCMdM7q8yKj0zRN-SDLWO6rw/playlists").social-btn
                            span.fa.fa-youtube.fa-2x
        .col-xs-12.col-md-6
            h2 Пункт самовывоза в Москве
            p ул. Полярная, д. 16, корпус 1
            p Проезд на трамвае номер 17 от м. Бабушкинская
            //.map
                script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7102d4340342fb70c6e2df5ef5a47659cc4b3f7bc38bc01f250bceb678a30684&amp;width=471&amp;height=362&amp;lang=ru_RU&amp;scroll=true")
            .map
                //script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A27a9ae782368c4d474de59cae86ee453219e6733f9753529c095bf603e94727e&amp;width=100%25&amp;height=439&amp;lang=ru_RU&amp;scroll=true")
                script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1cbb50dcd7ac0b01c7fb5a7cc593d6cf2104acf4122aa64b267372a565efb667&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true")