extends layout
block content
    .jumbotron
        .container
            .row
                h1
                    span.w W
                    span argame Art
                p Покраска миниатюр на заказ
                button.btn.red-button(href='' data-toggle="modal" data-target="#order-modal") Сделать заказ
    .container
        .row.homerow#what
            h2 Красим миниатюры любых систем и масштабов
            .col-xs-12.col-sm-4
                a(href="/gallery/#?systems=Warhammer%2040k")
                   h3 Warhammer 40k
                   .homepage-example
                       img.img-responsive(src="https://s3.amazonaws.com/wargame-art/jumbotron/%D0%91%D0%B5%D0%B7+%D0%B8%D0%BC%D0%B5%D0%BD%D0%B8-3.jpg")
                       p Перейти в галерею
            .col-xs-12.col-sm-4
                a(href="/gallery/#?systems=Warhammer%20FB%20%2F%20AOS")
                    h3 Fantasy / AOS
                    .homepage-example
                        img.img-responsive(src="https://s3.amazonaws.com/wargame-art/jumbotron/%D0%91%D0%B5%D0%B7+%D0%B8%D0%BC%D0%B5%D0%BD%D0%B8-4.jpg")
                        p Перейти в галерею
            .col-xs-12.col-sm-4
                a(href="/gallery/#?systems=Warmachine%20%26%20Hordes")
                    h3 Warmachine & Hordes
                    .homepage-example
                        img.img-responsive(src="https://s3.amazonaws.com/wargame-art/jumbotron/%D0%91%D0%B5%D0%B7+%D0%B8%D0%BC%D0%B5%D0%BD%D0%B8-5.jpg")
                        p Перейти в галерею
        .row.homerow#how
            .col-xs-12
                h2 Как это происходит?
            .col-xs-12.col-sm-4
                div
                    h3 Заполняете&nbsp;
                        button.btn.red-button(href='' data-toggle="modal" data-target="#order-modal") форму заказа
            .col-xs-12.col-sm-4
                div
                    h3 Передаете модели художнику
            .col-xs-12.col-sm-4
                div
                    h3 Получаете готовые миниатюры и оплачиваете
        .row.homerow#how-much
            .col-xs-12
                h2 Сколько это стоит?
                p Все миниатюры разные по сложности и объему покраски, поэтому за отправную точку мы берем то, как оценивает ее сам производитель.
                p Есть три уровня покраски:
            .col-xs-12.col-sm-4
                h3 Орда
            .col-xs-12.col-sm-4
                h3 Оптимальный
            .col-xs-12.col-sm-4
                h3 Художественный
        .row.homerow#why
            .col-xs-12
                h2 Почему клиенты выбирают нас?
            .col-xs-12.col-sm-4
                h3 Понятные цены
            .col-xs-12.col-sm-4
                h3 Миниатюры любых систем
            .col-xs-12.col-sm-4
                h3 Профессиональный подход
        .row.homerow#testimonies
            .col-xs-12
                h2 Вот что говорят наши клиенты
            .col-xs-12.col-sm-4
                h3 Витя
            .col-xs-12.col-sm-4
                h3 Сережа
            .col-xs-12.col-sm-4
                h3 Влад
        .row.homerow#questions
            .col-xs-12
                h2 Если у вас любые вопросы, можете задать их&nbsp;
                    button.btn.red-button здесь
                    p или по телефону 932493249239