extends layout
block content
    .jumbotron
        .container
            .row
                h1=title
                p=slogan
                button.btn.btn-primary=buttonCaption
    .container
        .row#why
            .col-xs-12.col-sm-4
                div
                   h2 We are the Best
            .col-xs-12.col-sm-4
                div
                    h2 Lowest price
            .col-xs-12.col-sm-4
                div
                    h2 Tastier than your mom's pancakes