doctype html
html
    head
        meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0')
        title=title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
        link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet")

    body(ng-app="wargame-art")
        .navbar.navbar-default.navbar-fixed-top
            .container-fluid
                .navbar-header
                    a.navbar-brand(href='/')
                        span.w W
                        span argame Art
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    block searchButton
                #navbar-main.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        block gallery-button
                            li
                                a(href='/gallery/') Галерея миниатюр
                        block about-button
                            li
                                a(href='/about/') О нас
                        block contacts-button
                            li
                                a(href='/contacts/') Контакты
                        block price-button
                            li
                                a(href='/price/') Цены
                        block order-button
                            li
                                a#order-button(href='' data-toggle="modal" data-target="#order-modal") ЗАКАЗАТЬ ПОКРАСКУ
        #order-modal.modal.fade(role="dialog")
            .modal-dialog
                .modal-content
                    .modal-header
                        button(type="button" data-dismiss="modal").close &times
                        h4.modal-title Сделать заказ
                    .modal-body
                        div(ng-include="'../javascripts/angular/orderFormModal.html'")
        .main
            block content

        block footer
            .footer
                .container
                    .row
                        .col-xs-12.col-md-4#social
                            h4 Социальные сети
                            .social-btn
                                a(target="_blank" href="https://vk.com/wargameart") <span class="fa fa-vk"></span>
                            .social-btn
                                a(target="_blank" href="https://www.instagram.com/wargameart") <span class="fa fa-instagram"></span>
                            .social-btn
                                a(target="_blank" href="https://www.youtube.com/channel/UCMdM7q8yKj0zRN-SDLWO6rw/playlists") <span class="fa fa-youtube"></span>
                        .col-xs-12.col-md-4#service
                            h4 Услуги
                            ul
                                li Покраска миниатюр
                                li Покраска настольных игр
                                li Warhammer покраска
                                li Историческая миниатюра
                                li Масштабные модели покраска
                                li Malifaux, Infinity the Game, Warmachine покраска

                        .col-xs-12.col-md-4#contacts
                            h4 Контакты
                            ul
                                li.
                                    <span class="fa fa-phone"></span> +7(906)097-08-53
                                li.
                                    <span class="fa fa-envelope"></span> wargameart@gmail.com
                    .row
                        .col-xs-12(style="text-align: center")
                            p Разработка сайта: Алексей Усачев&copy; 2017
                            p.
                                <span class="fa fa-envelope"></span> usachev.2010@gmail.com


        block scripts
            script(src="https://code.jquery.com/jquery-3.1.1.min.js")
            script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
            script(src="../javascripts/masonry/angulargrid.min.js")
            script(src="../javascripts/masonry/ng-infinite-scroll.min.js")
            script(src='/bootstrap/js/bootstrap.min.js')
            script(src="../javascripts/angular/wargame-art.js")
            script(src="../javascripts/angular/orderCtrl.js")
          //  script.
                $(document).ready(function(){
                    $("#order-button").click(function(){
                        $('#order-modal').modal('toggle');
                    });
                });