extends layout
block content
    .container
        .row
            h1 Make order
            div(ng-include="'../javascripts/angular/orderFormModal.html'")
block order-button
    li.active
        a#order-button(href="#") Make order