extends layout
block content
    .container
        form
            form-group
                label(for="moneys") How many monies do you want do give?
                input#moneys(type="number" name="moneys").form-control
            form-group
                label(for="do") What would you have us do?
                input#do(type="text" name="do").form-control
            form-group
                button.btn.btn-primary Place the order
